@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  /*background-color: #f0f0f0;*/
  background-color: #858484;
}

.container {
    max-width: 85%;
    margin: auto;
}

.flexSB {
    display: flex;
    justify-content: space-between;
}

.icon {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  background-color: rgba(red, green, blue, alpha);
  color: #1eb2a6;
  transition: 0.5s;
}

.icon:hover {
  cursor: pointer;
  background-color: #1eb2a6;
  color: #fff
}
  