.hero {
    background-image: url('C:\Users\User\Desktop\E-Learn\elearn-app\public\images\bg.webp');   
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 120px 50px 0 0;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.hero #heading h3 {
    color: #fff;
}
.hero #heading {
    text-align: left;
    margin: 0;
    padding: 0;
}
@media screen and (max-width: 768px) {
    .margin {
        height: 40vh;
    }
    .hero {
        background-position: right;
        padding: 80px 10px 0 10px;
        min-height: 80vh;
        flex-direction: column;
        align-items: flex-start;
    }
    .hero .row {
        width: 100%;
    }
}
    
